#root {
    background-color: #F9C49A;
}

#title {
    color: #FFF2E8;
}


#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window {
    height: 300px;
    width: 70%;
    border-style: solid;

    background-color: #FFF2E8;
}

#viewer {
    height: auto;
    padding-left: 10px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}
